@font-face {
    font-family: 'IBM Plex Serif';
    font-style: normal;
    font-weight: 400;
    src: url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Libre+Baskerville:wght@700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap') format('woff2');
  }

  @font-face {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    src: url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Libre+Baskerville:wght@700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300..700&display=swap') format('woff2');
  }

:root  > * {
    --md-typeset-a-color: #00F;
    --md-typeset-a-hover-color: #00D;
}

.md-header__title {
    font-size: 0.8rem;
}

header.md-header.md-header--shadow {
    border-bottom : dashed 1px #666;
    box-shadow: none;
    transition: none;
}

.md-typeset {
    font-size: 0.9rem;
}

.md-typeset h1, .md-typeset h2, .md-typeset h3 {
    font-weight: 700;
    font-size: .9rem;
    color: #000;
    font-family: 'Space Grotesk', sans-serif;
}

.md-typeset h2:before {
    content: "## ";
}

.md-typeset h3:before {
    content: "### ";
}

.md-typeset figcaption {
    text-align: left;
    max-width: 100%;
    font-size: 0.7rem;;
}

[dir=ltr] .md-typeset blockquote {
    padding-left: 1.2rem;
    padding-right: 0.6rem;
    border-left-width: 1px;
    color: #030300;
}

.md-nav--primary .md-nav__title[for=__drawer] {
    font-family: 'Space Grotesk', sans-serif;
    visibility: hidden;
}

ul.md-nav__list {
    font-family: 'Space Grotesk', sans-serif;
}

.md-nav--primary > ul.md-nav__list > li:last-child {
    border-top: 1px solid #ccc;
    margin-right: 50%;
}

.md-nav--primary > ul.md-nav__list > li {
    width: 90%;
}

table.properties {
    margin-bottom: 1rem;
}
table.properties td:first-child {
    font-weight: bold;
}
table.properties td {
    padding-right: 0.5rem;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 0.7rem;
}
table.properties td.tags a:nth-of-type(n + 2) {
    &::before {
        content: ", ";
    }    
}
